.realtors {
  grid-column: col-end 6 / full-end;
  background-color: $color-secondary;
  padding: 3rem;

  display: grid;
  grid-row-gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 5vh 2rem;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 7rem;
    height: auto;
    display: block;
    border-radius: 50%;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    transform: translateY(-0.3rem);
  }
}
